.order-container {
    width: 100%;
    height: 100vh; /* Tüm ekranı kapla */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Başlık en üstte, mesaj ortada, footer en altta */
    background-color: var(--white); /* Kırmızı arka plan */
    color: black;
    /*text-align: center;*/
    /*padding: 20px;*/
    /*box-sizing: border-box;*/
}
.order-header {
    text-align: center;
    background-color: #CE2829;
    display: flex;
    width: 100%;
    color: white;
}

.breadcrumb {
    margin: 15px 0;
    font-size: 0.9rem;
    color: #5F5F5F;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;

}

.breadcrumb .highlight {
    color: #CE2829;
    font-weight: bold;
}

.order-title {
    font-size: 1.8rem;
    font-family: "Quattrocento", serif;
    color: #292929;
}

.order-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #CE2829;
}

.order-description {
    font-size: 1rem;
    color: #5F5F5F;
    margin-bottom: 15px;
}

.section-title {
    font-size: 1.2rem;
    font-family: "Barlow", sans-serif;
    color: #292929;
    margin-top: 20px;
    margin-bottom: 10px;
}

.radio-group, .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.radio-label, .checkbox-label {
    font-size: 1rem;
    color: #5F5F5F;
    display: flex;
    align-items: center;
    gap: 5px;
}

.order-select, .order-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #5F5F5F;
    font-family: "Barlow", sans-serif;
}

.order-textarea {
    height: 80px;
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.quantity-btn {
    background: #CE2829;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.quantity-value {
    font-size: 1.2rem;
    font-weight: bold;
}

.order-summary {
    margin-top: 20px;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.summary-title {
    font-size: 1.5rem;
    color: #292929;
}

.summary-details, .summary-total {
    font-size: 1.2rem;
    font-weight: bold;
}
